# Eliminar las columnas que crean necesaria

In [1]:
import pandas as pd
data=pd.read_excel(r"C:\Users\SCOTT\Downloads\Region_La_Libertad.xlsx")

In [2]:
data

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632,...,845,1743,985,945,0,0,503,66,1294,67
1,1,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151,...,80,178,100,82,0,0,31,61,88,2
2,2,LA LIBERTAD,TRUJILLO,LAS HACIENDAS,6,10,16,44,40,84,...,50,100,50,50,0,0,5,22,61,12
3,3,LA LIBERTAD,TRUJILLO,MAMICHE,3,11,14,27,22,49,...,33,63,30,33,0,0,0,56,7,0
4,4,LA LIBERTAD,ASCOPE,P.ASCOPE,75,68,143,331,321,652,...,336,696,406,389,0,0,217,55,517,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,194,LA LIBERTAD,CACHICADAN,HOSPITAL,0,0,0,13,8,21,...,8,21,13,8,0,0,0,0,21,0
195,195,LA LIBERTAD,CACHICADAN,C.CHUCA,0,0,0,113,100,213,...,100,213,113,100,0,0,15,8,190,0
196,196,LA LIBERTAD,MOLLEPATA,P.MOLLETAPA,17,4,21,204,56,260,...,60,281,221,60,0,0,0,0,281,0
197,197,LA LIBERTAD,MOLLEPATA,C.MOLLEBAMBA,8,2,10,67,28,95,...,30,105,75,30,0,0,8,88,9,0
198,198,LA LIBERTAD,SITABAMBA,P.SITABAMBA,29,27,56,135,83,218,...,110,274,164,110,0,0,0,0,274,0

In [3]:
la_libertad=data.drop(columns= "Unnamed: 0")
la_libertad

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632,580,...,845,1743,985,945,0,0,503,66,1294,67
1,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151,53,...,80,178,100,82,0,0,31,61,88,2
2,LA LIBERTAD,TRUJILLO,LAS HACIENDAS,6,10,16,44,40,84,5,...,50,100,50,50,0,0,5,22,61,12
3,LA LIBERTAD,TRUJILLO,MAMICHE,3,11,14,27,22,49,22,...,33,63,30,33,0,0,0,56,7,0
4,LA LIBERTAD,ASCOPE,P.ASCOPE,75,68,143,331,321,652,176,...,336,696,406,389,0,0,217,55,517,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,LA LIBERTAD,CACHICADAN,HOSPITAL,0,0,0,13,8,21,0,...,8,21,13,8,0,0,0,0,21,0
195,LA LIBERTAD,CACHICADAN,C.CHUCA,0,0,0,113,100,213,73,...,100,213,113,100,0,0,15,8,190,0
196,LA LIBERTAD,MOLLEPATA,P.MOLLETAPA,17,4,21,204,56,260,17,...,60,281,221,60,0,0,0,0,281,0
197,LA LIBERTAD,MOLLEPATA,C.MOLLEBAMBA,8,2,10,67,28,95,15,...,30,105,75,30,0,0,8,88,9,0
198,LA LIBERTAD,SITABAMBA,P.SITABAMBA,29,27,56,135,83,218,63,...,110,274,164,110,0,0,0,0,274,0

# Encontrar el tipo de datos

In [4]:
data.dtypes

Unnamed: 0                   int64
Region                      object
District                    object
Place                       object
4_6_years_men                int64
4_6_years_women              int64
4_6_years_total              int64
6_14_years_men               int64
6_14_years_women             int64
6_14_years_total             int64
man_read                     int64
women_read                   int64
total_read                   int64
men_not_read                 int64
women_not_read               int64
total_not_read               int64
man_write                    int64
women_write                  int64
total_write                  int64
men_not_write                int64
women_not_write              int64
total_not_write              int64
instruction_men              int64
instruction_women            int64
instruction_total            int64
no_instruction_men           int64
no_instruction_women         int64
no_instruction_total         int64
finished_instr_men           int64
finished_instr_women         int64
finished_instr_total         int64
not_finished_instr_men       int64
not_finished_instr_women     int64
not_finished_instr_total     int64
peruvian_men                 int64
peruvian_women               int64
foreign_men                  int64
foreign_women                int64
whites                       int64
natives                      int64
mestizos                     int64
blacks                       int64
dtype: object

In [5]:
la_libertad.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men                int64
4_6_years_women              int64
4_6_years_total              int64
6_14_years_men               int64
6_14_years_women             int64
6_14_years_total             int64
man_read                     int64
women_read                   int64
total_read                   int64
men_not_read                 int64
women_not_read               int64
total_not_read               int64
man_write                    int64
women_write                  int64
total_write                  int64
men_not_write                int64
women_not_write              int64
total_not_write              int64
instruction_men              int64
instruction_women            int64
instruction_total            int64
no_instruction_men           int64
no_instruction_women         int64
no_instruction_total         int64
finished_instr_men           int64
finished_instr_women         int64
finished_instr_total         int64
not_finished_instr_men       int64
not_finished_instr_women     int64
not_finished_instr_total     int64
peruvian_men                 int64
peruvian_women               int64
foreign_men                  int64
foreign_women                int64
whites                       int64
natives                      int64
mestizos                     int64
blacks                       int64
dtype: object

# Encontrar la cantidad de habitantes

In [6]:
cant_hab = la_libertad[['4_6_years_total','6_14_years_total']]
cant_hab

     4_6_years_total  6_14_years_total
0                298              1632
1                 31               151
2                 16                84
3                 14                49
4                143               652
..               ...               ...
194                0                21
195                0               213
196               21               260
197               10                95
198               56               218

[199 rows x 2 columns]

In [7]:
cant_hab.sum()

4_6_years_total      4454
6_14_years_total    21156
dtype: int64

# Filtrar la cantidad de habitante de 4 a 6 años en el distrito de trujillo

In [8]:
distrito_trujillo = la_libertad.loc[la_libertad['District'] == 'TRUJILLO']
cant_4_6=distrito_trujillo[['District','4_6_years_total']]
cant_4_6

   District  4_6_years_total
0  TRUJILLO              298
1  TRUJILLO               31
2  TRUJILLO               16
3  TRUJILLO               14

# Localizar la region de mayor cantidad de habitantes tanto para personas de 4 a 6 años como de 6 a 14 años

In [9]:
la_libertad.iloc[0]

Region                      LA LIBERTAD
District                       TRUJILLO
Place                        P.TRUJILLO
4_6_years_men                       162
4_6_years_women                     136
4_6_years_total                     298
6_14_years_men                      823
6_14_years_women                    809
6_14_years_total                   1632
man_read                            580
women_read                          589
total_read                         1169
men_not_read                        405
women_not_read                      356
total_not_read                      761
man_write                           398
women_write                         402
total_write                         800
men_not_write                       587
women_not_write                     543
total_not_write                    1130
instruction_men                     543
instruction_women                   495
instruction_total                  1038
no_instruction_men                  442
no_instruction_women                450
no_instruction_total                892
finished_instr_men                   87
finished_instr_women                100
finished_instr_total                187
not_finished_instr_men              898
not_finished_instr_women            845
not_finished_instr_total           1743
peruvian_men                        985
peruvian_women                      945
foreign_men                           0
foreign_women                         0
whites                              503
natives                              66
mestizos                           1294
blacks                               67
Name: 0, dtype: object