# Task 4
### Alvaro Palma

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [2]:
La_Libertad_data = pd.read_excel(r"D:\Documentos\Python_Code_Blinders\Region_La_Libertad.xlsx")
La_Libertad_data

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632,...,845,1743,985,945,0,0,503,66,1294,67
1,1,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151,...,80,178,100,82,0,0,31,61,88,2
2,2,LA LIBERTAD,TRUJILLO,LAS HACIENDAS,6,10,16,44,40,84,...,50,100,50,50,0,0,5,22,61,12
3,3,LA LIBERTAD,TRUJILLO,MAMICHE,3,11,14,27,22,49,...,33,63,30,33,0,0,0,56,7,0
4,4,LA LIBERTAD,ASCOPE,P.ASCOPE,75,68,143,331,321,652,...,336,696,406,389,0,0,217,55,517,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,194,LA LIBERTAD,CACHICADAN,HOSPITAL,0,0,0,13,8,21,...,8,21,13,8,0,0,0,0,21,0
195,195,LA LIBERTAD,CACHICADAN,C.CHUCA,0,0,0,113,100,213,...,100,213,113,100,0,0,15,8,190,0
196,196,LA LIBERTAD,MOLLEPATA,P.MOLLETAPA,17,4,21,204,56,260,...,60,281,221,60,0,0,0,0,281,0
197,197,LA LIBERTAD,MOLLEPATA,C.MOLLEBAMBA,8,2,10,67,28,95,...,30,105,75,30,0,0,8,88,9,0
198,198,LA LIBERTAD,SITABAMBA,P.SITABAMBA,29,27,56,135,83,218,...,110,274,164,110,0,0,0,0,274,0

In [3]:
# Eliminar columnas innecesarias
La_Libertad = La_Libertad_data.drop(columns= "Unnamed: 0")
La_Libertad

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632,580,...,845,1743,985,945,0,0,503,66,1294,67
1,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151,53,...,80,178,100,82,0,0,31,61,88,2
2,LA LIBERTAD,TRUJILLO,LAS HACIENDAS,6,10,16,44,40,84,5,...,50,100,50,50,0,0,5,22,61,12
3,LA LIBERTAD,TRUJILLO,MAMICHE,3,11,14,27,22,49,22,...,33,63,30,33,0,0,0,56,7,0
4,LA LIBERTAD,ASCOPE,P.ASCOPE,75,68,143,331,321,652,176,...,336,696,406,389,0,0,217,55,517,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,LA LIBERTAD,CACHICADAN,HOSPITAL,0,0,0,13,8,21,0,...,8,21,13,8,0,0,0,0,21,0
195,LA LIBERTAD,CACHICADAN,C.CHUCA,0,0,0,113,100,213,73,...,100,213,113,100,0,0,15,8,190,0
196,LA LIBERTAD,MOLLEPATA,P.MOLLETAPA,17,4,21,204,56,260,17,...,60,281,221,60,0,0,0,0,281,0
197,LA LIBERTAD,MOLLEPATA,C.MOLLEBAMBA,8,2,10,67,28,95,15,...,30,105,75,30,0,0,8,88,9,0
198,LA LIBERTAD,SITABAMBA,P.SITABAMBA,29,27,56,135,83,218,63,...,110,274,164,110,0,0,0,0,274,0

In [4]:
# Encontrar tipo de datos
La_Libertad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Region                    199 non-null    object
 1   District                  199 non-null    object
 2   Place                     199 non-null    object
 3   4_6_years_men             199 non-null    int64
 4   4_6_years_women           199 non-null    int64
 5   4_6_years_total           199 non-null    int64
 6   6_14_years_men            199 non-null    int64
 7   6_14_years_women          199 non-null    int64
 8   6_14_years_total          199 non-null    int64
 9   man_read                  199 non-null    int64
 10  women_read                199 non-null    int64
 11  total_read                199 non-null    int64
 12  men_not_read              199 non-null    int64
 13  women_not_read            199 non-null    int64
 14  total_not_read            199 non-null    int64
 15  man_write                 199 non-null    int64
 16  women_write               199 non-null    int64
 17  total_write               199 non-null    int64
 18  men_not_write             199 non-null    int64
 19  women_not_write           199 non-null    int64
 20  total_not_write           199 non-null    int64
 21  instruction_men           199 non-null    int64
 22  instruction_women         199 non-null    int64
 23  instruction_total         199 non-null    int64
 24  no_instruction_men        199 non-null    int64
 25  no_instruction_women      199 non-null    int64
 26  no_instruction_total      199 non-null    int64
 27  finished_instr_men        199 non-null    int64
 28  finished_instr_women      199 non-null    int64
 29  finished_instr_total      199 non-null    int64
 30  not_finished_instr_men    199 non-null    int64
 31  not_finished_instr_women  199 non-null    int64
 32  not_finished_instr_total  199 non-null    int64
 33  peruvian_men              199 non-null    int64
 34  peruvian_women            199 non-null    int64
 35  foreign_men               199 non-null    int64
 36  foreign_women             199 non-null    int64
 37  whites                    199 non-null    int64
 38  natives                   199 non-null    int64
 39  mestizos                  199 non-null    int64
 40  blacks                    199 non-null    int64
dtypes: int64(38), object(3)
memory usage: 63.9+ KB

In [5]:
# Encontrar la cantidad de habitantes
La_Libertad_pop = La_Libertad[["4_6_years_total","6_14_years_total"]]
La_Libertad_pop
La_Libertad_pop.sum()

4_6_years_total      4454
6_14_years_total    21156
dtype: int64

In [6]:
# Filtrar la cantidad de habitantes del distrito "trujillo"
La_Libertad_cdc = La_Libertad.loc[La_Libertad["District"]== "TRUJILLO"]
La_Libertad_cdc

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632,580,...,845,1743,985,945,0,0,503,66,1294,67
1,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151,53,...,80,178,100,82,0,0,31,61,88,2
2,LA LIBERTAD,TRUJILLO,LAS HACIENDAS,6,10,16,44,40,84,5,...,50,100,50,50,0,0,5,22,61,12
3,LA LIBERTAD,TRUJILLO,MAMICHE,3,11,14,27,22,49,22,...,33,63,30,33,0,0,0,56,7,0

In [7]:
La_Libertad_cdc_pop = La_Libertad_cdc[["4_6_years_total","6_14_years_total"]]
La_Libertad_cdc_pop

   4_6_years_total  6_14_years_total
0              298              1632
1               31               151
2               16                84
3               14                49

In [8]:
La_Libertad_cdc_pop.sum()

4_6_years_total      359
6_14_years_total    1916
dtype: int64

In [9]:
# Localizar la region de mayor cantidad de habitantes tanto para personas de 4 a 6 años como de 6 a 14 años
La_Libertad["4_6_years_total"].idxmax()

0

In [10]:
La_Libertad.iloc[0]

Region                      LA LIBERTAD
District                       TRUJILLO
Place                        P.TRUJILLO
4_6_years_men                       162
4_6_years_women                     136
4_6_years_total                     298
6_14_years_men                      823
6_14_years_women                    809
6_14_years_total                   1632
man_read                            580
women_read                          589
total_read                         1169
men_not_read                        405
women_not_read                      356
total_not_read                      761
man_write                           398
women_write                         402
total_write                         800
men_not_write                       587
women_not_write                     543
total_not_write                    1130
instruction_men                     543
instruction_women                   495
instruction_total                  1038
no_instruction_men                  442
no_instruction_women                450
no_instruction_total                892
finished_instr_men                   87
finished_instr_women                100
finished_instr_total                187
not_finished_instr_men              898
not_finished_instr_women            845
not_finished_instr_total           1743
peruvian_men                        985
peruvian_women                      945
foreign_men                           0
foreign_women                         0
whites                              503
natives                              66
mestizos                           1294
blacks                               67
Name: 0, dtype: object

In [11]:
La_Libertad["6_14_years_total"].idxmax()

0

In [12]:
La_Libertad.iloc[0]

Region                      LA LIBERTAD
District                       TRUJILLO
Place                        P.TRUJILLO
4_6_years_men                       162
4_6_years_women                     136
4_6_years_total                     298
6_14_years_men                      823
6_14_years_women                    809
6_14_years_total                   1632
man_read                            580
women_read                          589
total_read                         1169
men_not_read                        405
women_not_read                      356
total_not_read                      761
man_write                           398
women_write                         402
total_write                         800
men_not_write                       587
women_not_write                     543
total_not_write                    1130
instruction_men                     543
instruction_women                   495
instruction_total                  1038
no_instruction_men                  442
no_instruction_women                450
no_instruction_total                892
finished_instr_men                   87
finished_instr_women                100
finished_instr_total                187
not_finished_instr_men              898
not_finished_instr_women            845
not_finished_instr_total           1743
peruvian_men                        985
peruvian_women                      945
foreign_men                           0
foreign_women                         0
whites                              503
natives                              66
mestizos                           1294
blacks                               67
Name: 0, dtype: object