## Task Patrickk Melo

## Tarea: acerca de la region La Libertad

In [11]:
import pandas as pd

In [23]:
infodata = pd.read_excel(r"C:\Users\Patrickk\Documents\GitHub\The_Code_Blinders_2021_II\Classes\DATA_TASK4/Region_La_Libertad.xlsx")
infodata

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632,...,845,1743,985,945,0,0,503,66,1294,67
1,1,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151,...,80,178,100,82,0,0,31,61,88,2
2,2,LA LIBERTAD,TRUJILLO,LAS HACIENDAS,6,10,16,44,40,84,...,50,100,50,50,0,0,5,22,61,12
3,3,LA LIBERTAD,TRUJILLO,MAMICHE,3,11,14,27,22,49,...,33,63,30,33,0,0,0,56,7,0
4,4,LA LIBERTAD,ASCOPE,P.ASCOPE,75,68,143,331,321,652,...,336,696,406,389,0,0,217,55,517,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,194,LA LIBERTAD,CACHICADAN,HOSPITAL,0,0,0,13,8,21,...,8,21,13,8,0,0,0,0,21,0
195,195,LA LIBERTAD,CACHICADAN,C.CHUCA,0,0,0,113,100,213,...,100,213,113,100,0,0,15,8,190,0
196,196,LA LIBERTAD,MOLLEPATA,P.MOLLETAPA,17,4,21,204,56,260,...,60,281,221,60,0,0,0,0,281,0
197,197,LA LIBERTAD,MOLLEPATA,C.MOLLEBAMBA,8,2,10,67,28,95,...,30,105,75,30,0,0,8,88,9,0
198,198,LA LIBERTAD,SITABAMBA,P.SITABAMBA,29,27,56,135,83,218,...,110,274,164,110,0,0,0,0,274,0

In [35]:
infodata

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632,580,...,845,1743,985,945,0,0,503,66,1294,67
1,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151,53,...,80,178,100,82,0,0,31,61,88,2
2,LA LIBERTAD,TRUJILLO,LAS HACIENDAS,6,10,16,44,40,84,5,...,50,100,50,50,0,0,5,22,61,12
3,LA LIBERTAD,TRUJILLO,MAMICHE,3,11,14,27,22,49,22,...,33,63,30,33,0,0,0,56,7,0
4,LA LIBERTAD,ASCOPE,P.ASCOPE,75,68,143,331,321,652,176,...,336,696,406,389,0,0,217,55,517,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,LA LIBERTAD,CACHICADAN,HOSPITAL,0,0,0,13,8,21,0,...,8,21,13,8,0,0,0,0,21,0
195,LA LIBERTAD,CACHICADAN,C.CHUCA,0,0,0,113,100,213,73,...,100,213,113,100,0,0,15,8,190,0
196,LA LIBERTAD,MOLLEPATA,P.MOLLETAPA,17,4,21,204,56,260,17,...,60,281,221,60,0,0,0,0,281,0
197,LA LIBERTAD,MOLLEPATA,C.MOLLEBAMBA,8,2,10,67,28,95,15,...,30,105,75,30,0,0,8,88,9,0
198,LA LIBERTAD,SITABAMBA,P.SITABAMBA,29,27,56,135,83,218,63,...,110,274,164,110,0,0,0,0,274,0

### Eliminar las columnas que crean necesarias

In [27]:
full_truji= infodata.loc[infodata['District'].str.contains('TRUJILLO')]
print(full_truji)

        Region  District          Place  4_6_years_men  4_6_years_women  \
0  LA LIBERTAD  TRUJILLO     P.TRUJILLO            162              136
1  LA LIBERTAD  TRUJILLO       C.LAREDO             17               14
2  LA LIBERTAD  TRUJILLO  LAS HACIENDAS              6               10
3  LA LIBERTAD  TRUJILLO        MAMICHE              3               11

   4_6_years_total  6_14_years_men  6_14_years_women  6_14_years_total  \
0              298             823               809              1632
1               31              83                68               151
2               16              44                40                84
3               14              27                22                49

   man_read  ...  not_finished_instr_women  not_finished_instr_total  \
0       580  ...                       845                      1743
1        53  ...                        80                       178
2         5  ...                        50                       100
3        22  ...                        33                        63

   peruvian_men  peruvian_women  foreign_men  foreign_women  whites  natives  \
0           985             945            0              0     503       66
1           100              82            0              0      31       61
2            50              50            0              0       5       22
3            30              33            0              0       0       56

   mestizos  blacks
0      1294      67
1        88       2
2        61      12
3         7       0

[4 rows x 41 columns]

###  Encontrar la cantidad de habitantes

In [36]:
suma_habitantes = infodata[['4_6_years_total','6_14_years_total']]
suma_habitantes

     4_6_years_total  6_14_years_total
0                298              1632
1                 31               151
2                 16                84
3                 14                49
4                143               652
..               ...               ...
194                0                21
195                0               213
196               21               260
197               10                95
198               56               218

[199 rows x 2 columns]

In [38]:
suma_habitantes.sum()

4_6_years_total      4454
6_14_years_total    21156
dtype: int64

### Filtrar la cantidad de habitantes de 4 a 6 años en el distrito de trujillo

In [40]:
cantidad4_6 = infodata.loc[infodata['District'] == 'TRUJILLO']
cantidad4_6

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632,580,...,845,1743,985,945,0,0,503,66,1294,67
1,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151,53,...,80,178,100,82,0,0,31,61,88,2
2,LA LIBERTAD,TRUJILLO,LAS HACIENDAS,6,10,16,44,40,84,5,...,50,100,50,50,0,0,5,22,61,12
3,LA LIBERTAD,TRUJILLO,MAMICHE,3,11,14,27,22,49,22,...,33,63,30,33,0,0,0,56,7,0

### Localizar la region de mayor cantidad de habitantes tanto para personas de 4 a 6 años como de 6 a 14 años

In [50]:
mayor_cantidad["4_6_years_total"].max()

298

In [ ]:
mayor_cantidad["6_14_years_total"].max()

In [55]:
mayor_cantidad= infodata.loc[:,'Region':'6_14_years_total']
mayor_cantidad

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total
0,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632
1,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151
2,LA LIBERTAD,TRUJILLO,LAS HACIENDAS,6,10,16,44,40,84
3,LA LIBERTAD,TRUJILLO,MAMICHE,3,11,14,27,22,49
4,LA LIBERTAD,ASCOPE,P.ASCOPE,75,68,143,331,321,652
...,...,...,...,...,...,...,...,...,...
194,LA LIBERTAD,CACHICADAN,HOSPITAL,0,0,0,13,8,21
195,LA LIBERTAD,CACHICADAN,C.CHUCA,0,0,0,113,100,213
196,LA LIBERTAD,MOLLEPATA,P.MOLLETAPA,17,4,21,204,56,260
197,LA LIBERTAD,MOLLEPATA,C.MOLLEBAMBA,8,2,10,67,28,95
198,LA LIBERTAD,SITABAMBA,P.SITABAMBA,29,27,56,135,83,218

In [54]:
region[region['6_14_years_total']== region['6_14_years_total'].max()]

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total
0,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632